@model ORTCine.Models.Pelicula

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Pelicula</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <b>
                    <label asp-for="nombre" class="control-label text-light"></label></b>

                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="genero" class="control-label text-light"></label>
                <select asp-for="genero" class="form-control"asp-items="@Html.GetEnumSelectList<Genero>()"></select>
                <span asp-validation-for="genero" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label text-light">
                    <input class="form-check-input" asp-for="estaDoblada" /> @Html.DisplayNameFor(model => model.estaDoblada)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label text-light">
                    <input class="form-check-input" asp-for="esAtp" /> @Html.DisplayNameFor(model => model.esAtp)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="salaId" class="control-label text-light"></label>
                <select asp-for="salaId" class ="form-control" asp-items="ViewBag.salaId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary text-light" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
