@{
    ViewData["Title"] = "Home Page";
}






<section id="carousel">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/carouselImages/Shrek2-Banner.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/carouselImages/Lahuerfana_Banner.jpg" class="d-block w-100" alt="..." >
                        </div>
                        <div class="carousel-item">
                            <img src="/carouselImages/Reborn_Banner.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="/carouselImages/ElAro3_Banner.jpg" class="d-block w-100" alt="..." >
                        </div>
                    </div>
                   
                </div>
            </div>
           
            <div class="col-2">
                <img src="/carouselImages/popcorn.jpg" style="height:600px;" alt="...">
            </div>
        </div>
    </div>
</section>
@*<section id="form" >
    <div class="formulario col-md-8 hidden-sm hidden-xs " id="form-suscripcion">
        <div class="row">
            <h2>Suscribite al newsletter</h2>
        </div>
        <div class="row">
            <div class="bg-form">
                <div id="modal-suscripcion-agradecimiento" style="display: none;" class="leyenda-form">
                    Muchas gracias
                </div>
                <form onsubmit="return false;" id="form-contacto" action="" method="post">
                    <div class="form-group">
                        <label for="username"><b>Nombre: </b></label>
                        <input id="username" type="text" required>
                        <div class="help-block">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name"><b>Apellido: </b></label>
                        <input id="name" type="text" required>
                        <div class="help-block">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email"><b>Email: </b></label>
                        <input type="email" required>
                        <div class="help-block">
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control required" name="Sala" id="sala" data-error="Por favor seleccione la sala que frecuenta.">
                            <option value="">Seleccione una sala</option>
                            <option value="1">Sala 1</option>
                            <option value="2">Sala 2</option>
                            <option value="3">Sala 3</option>
                            <option value="4">Sala 4</option>
                        </select>
                        <div class="help-block"></div>
                    </div>
                    <div class="clearfix"></div>
                    <p class="leyenda-form">¡Registrate para recibir nuestra novedades!</p>
                    <input type="submit" class="btn btn-form btn-big" value="ENVIAR">
                </form>
            </div>
        </div>
    </div>
</section>*@