@model ORTCine.Models.Entrada

@{
    ViewData["Title"] = "Create";
}

<h1 style="-webkit-text-fill-color:white">Compra de entrada</h1>

@*<h4 style="-webkit-text-fill-color:white">Entrada</h4>*@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="PeliculaId" class="control-label text-light">Pelicula</label>
                <select asp-for="PeliculaId" class ="form-control" asp-items="ViewBag.PeliculaId">
                    <option value="">Seleccione una pelicula</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label text-light">Cliente a realizar la operación</label>
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId">
                    <option value="">Seleccione un cliente</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="numeroButaca" class="control-label text-light"></label>
            <input asp-for="numeroButaca" class="form-control" />
             <span asp-validation-for="numeroButaca" class="text-danger"></span>
                <span asp-validation-for="numeroButaca" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="salaId" class="control-label"></label>
               @Html.DisplayNameFor(model => model.estaDoblada)
            </div>*@
            @ViewBag.Message != null ? <div>@ViewBag.Message</div>
            <div class="form-group">
                <input type="submit" value="Comprar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la cartelera</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
